@model VentaViewModel


<div class=" card text-primary">
    <div class=" card-header text-center ">
        <h5>Venta</h5>
    </div>
    <div class=" card-body ">
        <dl class="row">
            <dt class="col-sm-2 text-center text-dark">
                RFC Cliente
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RfcCliente)
            </dd>

            <dt class="col-sm-2 text-center text-dark">
                Empleado
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioEmpleado)
            </dd>

            <dt class="col-sm-2 text-center text-dark">
                Tipo Venta
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipoVenta)
            </dd>

            <dt class="col-sm-2 text-center text-dark">
                Sucursal
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreSucursal)
            </dd>

            <dt class="col-sm-2 text-center text-dark">
                Total
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalVenta)
            </dd>

            <dt class="col-sm-2 text-center text-dark">
                Detalle Venta
            </dt>
            <dt class="col-sm-2 text-center text-dark">
                Detalles
            </dt>           

        </dl>
    </div>
    <div class=" card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model.IdVenta" class="btn btn-outline-warning btn-sm">Editar</a>
        <a asp-action="Index" class=" btn btn-outline-success btn-sm">volver a la lista</a>
    </div>
</div>
